## This is a customer classification project. 
### The goal is to develop a machine learning model to predict whether customer will agree to subscribe to a term deposit or not based on customer data

In [7]:
from sklearn.model_selection import train_test_split
import pandas as pd 

data = pd.read_csv('train.csv')
data_shuffled  = data.sample(frac =1)
data_shuffled

C:\Users\Admin\AppData\Local\Temp\ipykernel_12680\3682080650.py:4: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('train.csv')

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
56490,0x16100,CUS_0x9ad,March,David Sheppardx,20,#F%$D@*&8,Lawyer,49116.74,4343.061667,4,...,Standard,1429.53,32.098791,18 Years and 0 Months,Yes,112.657379,452.1132538503823,Low_spent_Small_value_payments,159.53553342797437,Standard
53792,0x15132,CUS_0x8b18,January,Danielj,40,249-63-8554,Writer,61043.61,5052.967500,9,...,Bad,2653.72,24.950825,9 Years and 3 Months,Yes,235.450380,290.592217493742,High_spent_Small_value_payments,239.2541526764876,Poor
19366,0x8778,CUS_0x65e1,July,Olivia Oranq,20,498-47-7214,Accountant,34642.94,3180.911667,3,...,Standard,1079.65,30.020036,26 Years and 10 Months,Yes,49.685271,152.86501350804332,High_spent_Small_value_payments,375.54088184672,Standard
60097,0x17623,CUS_0x5c68,February,NaN,33,112-40-8747,_______,44382.88,3731.573333,7,...,Good,115.63,29.765047,22 Years and 2 Months,No,0.000000,296.10608517680464,!@9#%8,347.0512481565287,Poor
45674,0x121a0,CUS_0x6cda,March,Dasguptau,32,780-03-4283,Writer,16586.58,1470.215000,6,...,Bad,2424.8,23.959287,13 Years and 7 Months,Yes,22.914328,75.66483572285306,Low_spent_Large_value_payments,318.44233634120775,Poor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9705,0x4edf,CUS_0x15d5,February,Grantq,23,296-39-6431,Teacher,72207.52,5881.293333,6,...,Bad,1803.68,26.557580,NaN,Yes,287.623792,748.9029789848724,Low_spent_Small_value_payments,NaN,Poor
20390,0x8d78,CUS_0x6c52,July,Laurence Frostt,34,873-88-8377,Musician,100241.67,8121.472500,8,...,Good,209.63,38.647147,NaN,No,260.608105,478.6881141658934,Low_spent_Large_value_payments,342.85103079828775,Poor
77428,0x1dbae,CUS_0x511f,May,N.s,38,830-35-3509,Entrepreneur,89446.38,7278.865000,4,...,Good,123.7,36.436129,NaN,No,198.471366,NaN,High_spent_Large_value_payments,596.8107461770494,Good
39189,0xfb9f,CUS_0xbc74,June,Rajesh Kumarq,16,235-99-8671,Accountant,17509.0,1657.083333,10,...,Bad,2421.12,29.168725,15 Years and 2 Months,Yes,53.880713,39.10082863748672,High_spent_Medium_value_payments,322.7267914692066,Poor
81462,0x1f350,CUS_0x6630,July,Katya Wachtela,32,501-84-0465,Musician,61607.34,5192.945000,9,...,_,3146.2,25.195221,9 Years and 8 Months,Yes,330.150695,NaN,High_spent_Large_value_payments,357.93552438267136,Standard